DATABASE_URL="postgresql://postgres:password@localhost:54321/postgres"

BETTER_AUTH_URL="http://localhost:3000"
BETTER_AUTH_SECRET="your-secret-key-here"

VITE_SERVER_URL="http://localhost:3000"
CLIENT_URL="http://localhost:3001"
